@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and Logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: none;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* index.html: hero image and cover text */

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2{
    color: #fff;
}

#cover-text h2 {
    text-transform: uppercase;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/dog-landing.jpg') no-repeat 0% 50% / cover;

/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    text-transform: none;
    text-align: center;
    letter-spacing: 4px;

    width: 350px;
    height: 250px;

    padding: 20px;

    background-color: rgba(255, 165, 0, .7);

    bottom: 30px;
    right: 30px;

    position: absolute;
}

/* index.html: about us section */

.about {
	height: 650px;
    position: relative;
    width: 100%;
}

.about-contents {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.about-text {

    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
    padding-right: 50px;
	}

.about-image {
    float: right;
}

.about-text h2 {
    font-size: 280%;
    margin-bottom: 20px;
}

.about-text ul li {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 120%;
}



.about-photo {
    height: 350px;
	width: 350px;
	border-radius: 50%; 
    
}

/* index.html: benefits section */

#benefits {
    height: 650px;
    background-color: #a1c9c9;
}

#left-benefits {
    width: 70%;
    float: left;
}

#right-benefits {
    width: 30%;
    float: right;
    background-color: #a1c9c9;
    margin-top: 20px;
}

#right-benefits-text {
    height: 650px;
    float: left;
    font-size: 120%;
    }

#right-benefits-text h2 {
    font-size: 280%;
    margin-bottom: 20px;
}
#left-benefits-photo {
    height: 650px;
}

/* media queries */

/* for media screens 1500px wide and up */

/* for media screens 1245px wide and down */

/* for media screens 1100px wide and down */

