@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and Logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: none;
    letter-spacing: 4px;
    color: #252525;
}

h2 {
    font-size: 230%;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* index.html: hero image and cover text */

#hero-outer{
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
    clear: both;
}

#cover-text, #cover-text h2{
    color: #fff;
}

#cover-text h2 {
    text-transform: uppercase;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/dog-landing.jpg') no-repeat 0% 50% / cover;

/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    text-transform: none;
    text-align: center;
    letter-spacing: 4px;
    width: 350px;
    height: 250px;
    padding: 20px;
    background-color: rgba(255, 165, 0, .7);
    bottom: 30px;
    right: 30px;
    position: absolute;
}

/* index.html: about us section */

#about-header {
    text-align: center;
    font-size: 230%;
}

#about-us {
    clear: both;
    padding: 2.8rem 0;
}

#left-about {
    padding-top: 30px;
    width: 65%;
    float: left;
}

#left-about ul { 
    list-style: none;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

#left-about ul li {
    margin-bottom: 25px;
    font-size: 120%;
}

#left-about ul li a {
        text-decoration: none;
        color: inherit;
}

#left-about ul li a:hover {
        border-bottom: 1px solid #3a3a3a; 
}

#right-about {
    padding-top: 30px;
    width: 35%;
    float: right;
    margin: 0 auto;
    text-align: center;
}

#right-about img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

/* index.html: benefits section */


#benefits {
    background: #a1c9c9;
    padding: 2.8rem 0;
    clear: both;
    text-align: center;
}

#benefits h2 {
    font-size: 230%;
    margin-bottom: 20px;
    text-align: center;
}


#benefits ul { 
    list-style: none;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

#benefits ul li {
    margin-bottom: 25px;
    font-size: 120%;
    text-align: center;
}

#benefits img {
    width: 30%;
}

/*video section*/

#video {
    padding-top: 2.8rem;
    text-align: center;
}
/* footer */

#footer {
    clear: both;
    padding-bottom: 2.8rem;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

footer hr {
    color: #3a3a3a;
    border: 1px solid;
}
footer p {
    text-align: center;
    margin: 1%;
}

/* services.html: gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
    display: inline-block;
    width: 100%;
}

#photos > img {
    width: 100%;
}

/* services.html: services offered section */

#services-offered {
    text-align: center;
    padding: 2.8rem 0;
    height: auto;
}

#services-offered h2 {
    font-size: 230%;
    margin-bottom: 20px;
}

#services-offered ul {
    list-style: none;
}

#services-offered li {
    font-size: 120%;
    line-height: 50px;
}

/* services.html: area covered section*/

#area-covered {
    clear: both;
}

#area-covered iframe {
    width: 100%;
}

/* register.html: register form section */

#register {
    background-image: url('../images/register-form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2.8rem;
    
    clear: both;
    
    
}



input[type=text], input[type=email] {
    margin-bottom: 1rem;
    display: block;
    height: 2rem;
    max-width: 400px;
    text-align: center;
}

#register-type {
    max-width: 400px;
    height: 2rem;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1rem;
    font-size: 90%;
}

#register-type input {
    margin-right: 2rem;
}

#free-text {
    height: 100px;
    
    max-width: 400px;
    margin-bottom: 2rem;
    padding: 1rem
}

input[type=submit] {
    font-weight: 600;
    font-size: 120%;
    width: 75px;
    height: 50px;
    background-color: #CDCDCD;
    border: 3px solid #808080;
    display: block;
    
}

input[type=submit]:hover {
    background-color: #fff;
    border-color: #fff;
}

/* media queries */

/* for larger to medium screens size from 1300px and down */
@media screen and (max-width: 1300px) {

    #cover-text {
        left: 0;
        font-size: 110%;
    }
    
    #about-us {
        height: 500px;
        margin: 0 auto;
    }

    #about-header {
        padding: 20px 0;
        margin: 0;
    }

    #left-about ul li {
        margin-bottom: 5px;
    }

    #right-about img {
        height: 250px;
        width: 250px;
    }

}
    
/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #logo {
        float: left;
        font-size: 200%;
        margin-left: 30px;
    }
    
    #menu {
        font-size: 110%;
        letter-spacing: 4px;
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #about-us {
        height: 800px;
        margin: 0 auto;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #right-about {
        clear: both;
    }

    #right-about img {
        height: 250px;
        width: 250px;
    }

    #about-header {
        font-size: 150%;
    }

    #left-about ul li { 
        font-size: 100%;
    }
    
}

/* for small screen sizes from 800px wide and down */

@media screen and (max-width: 800px) {
    


    #hero-image {
        background: url('../images/dog-landing-mobile.jpg') no-repeat 0% 50% / cover;
}

    #about-us {
        height: 900px;
        margin: 0 auto;
}

}
@media screen and (max-width: 500px) {

    #logo {
        float: left;
        font-size: 130%;
        margin-left: 10px;
    }
    
    #menu {
        font-size: 100%;
        letter-spacing: normal;
    }

    #about-us {
        
        height: 1000px;
        margin: 0 auto;
    }

    #about-header {
        font-size: 110%;
    }

    #left-about ul li {
        margin-bottom: 5px;
        font-size: 100%;
    }
}