@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: none;
    letter-spacing: 0.25rem;
    color: #252525;
}


#logo {
    float: left;
    font-size: 280%;
    margin-left: 1.8rem;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 0.25rem;
}

#menu, #logo {
    line-height: 4.5rem;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 1.8rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 0.06rem solid #3a3a3a;
}

.active {
    border-bottom: 0.06rem solid #3a3a3a;
}

/* index.html: hero image and cover text */

#hero-outer{
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
    clear: both;
}

#cover-text, #cover-text h2{
    color: #fff;
}

#cover-text h2 {
    text-transform: uppercase;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/walkies-landing.jpg') no-repeat 50% 0% / cover;

/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    text-transform: none;
    text-align: center;
    letter-spacing: 0.25rem;
    width: 350px;
    height: auto;
    padding: 1rem;
    background-color: rgba(255, 165, 0, .7);
    bottom: 1.8rem;
    right: 1.8rem;
    position: absolute;
    border-radius: 25px;
}

/* index.html: about us section */

#about-header {
    text-align: center;
    font-size: 230%;
    padding-bottom: 2.8rem;
}

#about-us {
    clear: both;
    padding: 2.8rem 0;
}

#left-about {
    width: 65%;
    float: left;
}

#left-about ul { 
    list-style: none;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1.8rem;
    clear: both;
    margin-bottom: 3rem;
}

#left-about ul li {
    margin-bottom: 1.5rem;
    font-size: 120%;
}

#left-about ul li a {
        text-decoration: none;
        color: inherit;
}

#left-about ul li a:hover {
        border-bottom: 1px solid #3a3a3a; 
}

#right-about {
    padding-top: 0.06rem;
    width: 35%;
    float: right;
    margin: 0 auto;
    text-align: center;
}

#right-about img {
    height: 60%;
    width: 60%;
    border-radius: 30%;
}

/* index.html: benefits section */


#benefits {
    background: #a1c9c9;
    padding: 2.8rem 0;
    clear: both;
    text-align: center;
}

#benefits-header {
    font-size: 230%;
    padding-bottom: 2.8rem;
    text-align: center;
}


#benefits ul { 
    list-style: none;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1.8rem;
    clear: both;
    margin-bottom: 3rem;
}

#benefits ul li {
    margin-bottom: 1.5rem;
    font-size: 120%;
    text-align: center;
}

#benefits img {
    width: 30%;
}

/*index.html: video section*/

#video {
    padding-top: 2.8rem;
    text-align: center;
}

/* footer */

#footer {
    clear: both;
    padding-bottom: 2.8rem;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

footer hr {
    color: #3a3a3a;
    border: 0.06rem solid;
}
footer p {
    text-align: center;
    margin: 1%;
}

/* services.html: gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
    display: inline-block;
    width: 100%;
}

#photos > img {
    width: 100%;
}

/* services.html: services offered section */

#services-offered {
    text-align: center;
    padding: 2.8rem 0;
    height: auto;
}

#services-header {
    font-size: 230%;
    padding: 2rem 0;
}

#services-offered ul {
    list-style: none;
}

#services-offered li {
    font-size: 120%;
    line-height: 3rem;
}

/* services.html: tailored services section*/

#tailored-services {
    padding: 2.8rem;
    height: auto;
}

#tailored-photo {
    width: 50%;
    float: left;
}

#tailored-photo img {
    width: 80%;
    border-radius: 50px;
    clear: both;
    padding: 1rem;
    float: right;
}

#tailored-content {
    width: 50%;
    float: right;
}

#tailored-text {
    float: left;
    width: 60%;
    padding-top: 2rem;
    padding-left: 1rem;
    line-height: 1.8rem;
    text-align: justify;
}

#tailored-header {
    font-family: Oswald, sans-serif;
    text-transform: none;
    letter-spacing: 0.25rem;
    color: #252525;
    font-size: 150%;
    padding-bottom: 1rem;
}

#tailored-text > p {
    font-size: 120%;
}

#tailored-text a {
    text-decoration: none;
    color: inherit;
}

#tailored-text a:hover {
    border-bottom: 0.06rem solid #3a3a3a; 
}

/* services.html: area covered section*/

#area-covered {
    clear: both;
    padding: 2.8rem;
}

#area-covered iframe {
    width: 100%;
}

#area-text > p {
    line-height: 1.8rem;
    font-size: 120%;
}

#area-header {
    font-size: 230%;
    margin-bottom: 20px;
}

/* register.html: register form section */

#register {
    background-image: url('../images/register-form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2.8rem;
    clear: both;
}
#register-header {
    padding-bottom: 1rem;
}

input[type=text], input[type=email] {
    margin-bottom: 1rem;
    display: block;
    height: 2rem;
    text-align: center;
    width: 210px;
    border-radius: 25px;
}

#register-type {
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1rem;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    width: 180px;
    line-height: 30px;
    border-radius: 25px;
}

#register-type input {
    text-align: justify;
}

#free-text {
    height: 100px;
    width: 180px;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 25px;
}

input[type=submit] {
    
    width: 210px;
    height: 30px;
    background-color: white;
    border: 3px solid #808080;
    display: block;
    border-radius: 25px;
}

input[type=submit]:hover {
    background-color: rgba(255, 165, 0, .7);
    border-color: #808080;
    color: white;
}

/* register.html: register more section */

#register-more {
    padding: 2.8rem;
    height: auto;
}

#donate, #volunteer, #adopt {
    clear: both;
    padding: 2.8rem;
}

#donate-photo, #volunteer-photo, #adopt-photo {
    width: 50%;
    float: left;
}

#donate-content, #volunteer-content, #adopt-content {
    width: 50%;
    float: right;
}

#donate-header, #volunteer-header, #adopt-header {
    font-family: Oswald, sans-serif;
    text-transform: none;
    letter-spacing: 0.25rem;
    color: #252525;
    font-size: 150%;
    padding-bottom: 1rem;
}

#donate img, #volunteer img, #adopt img {
    width: 60%;
    border-radius: 50px;
    clear: both;
    padding: 1rem;
    float: right;
}

#donate-text, #volunteer-text, #adopt-text {
    width: 60%;
    padding-top: 2rem;
    padding-left: 1rem;
    line-height: 1.8rem;
    text-align: justify;
    float: left;
}

#donate-text > p, #volunteer-text > p, #adopt-text > p {
    font-size: 120%;
}

#donate a, #volunteer a, #adopt a{
    text-decoration: none;
    color: inherit;
}

#donate a:hover, #volunteer a:hover, #adopt a:hover {
    border-bottom: 0.06rem solid #3a3a3a; 
}

#clear {
    clear: both
}

/* register.html: coffee mornings section */

#coffee-mornings {
    padding: 2.8rem;
    text-align: center;
    clear: both;
    background-color: #a1c9c9;;
}

#coffee-header {
    font-family: Oswald, sans-serif;
    text-transform: none;
    letter-spacing: 0.25rem;
    color: #252525;
    font-size: 150%;
    padding-bottom: 1rem;
}


/* media queries */

/* for larger to medium screens size from 1300px and down */
@media screen and (max-width: 1300px) {

    #cover-text {
        bottom: 0;
        right: 0;
        font-size: 110%;
        height: auto;
    }
    
    #about-us {
        margin: 0 auto;
    }

    #right-about img {
        height: 250px;
        width: 250px;
        padding-bottom: 2.8rem;
    }

    #services-offered {
        padding: 1rem;
    }

    #donate img, #volunteer img, #adopt img {
        width: 90%;
    }

    #donate-text, #volunteer-text, #adopt-text{
        width: 80%;
        padding-top: 1rem;
    }

    #tailored-photo img {
        width: 90%;
    }

    #tailored-text {
        width: 80%;
        padding-top: 1rem;
    }
}
    
/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #logo {
        float: left;
        font-size: 200%;
        margin-left: 30px;
    }
    
    #menu {
        font-size: 110%;
        letter-spacing: 4px;
        clear: left;
        float: left;
        margin-left: 1.8rem;
        margin-bottom: 1.25rem;
        line-height: 1.5rem;
    }

    #cover-text {
        font-size: 100%;
        width: 310px;
        height: auto;
    }

    #about-us {
        margin: 0 auto;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        margin: 0;
    }

    #right-about {
        clear: both;
    }

    #right-about img {
        height: 250px;
        width: 250px;
    }

    #left-about ul li { 
        font-size: 100%;
    }
    
    #benefits ul li {
        font-size: 100%;
    }
    #services-list li {
        font-size: 100%;
    }

    #about-header, #benefits-header  {
        font-size: 150%;
    }

    #services-header {
        font-size: 150%;
    }
    
    #area-text > p {
        font-size: 100%;
    }
    
    #area-header {
        font-size: 150%;
    }


    #donate-text, #volunteer-text, #adopt-text {
        padding-top: 1rem;
        width: 100%;
    }

    #donate-header, #volunteer-header, #adopt-header{
        font-size: 130%;
        padding-bottom: 0.5rem;
    }
    #donate-text > p, #volunteer-text > p, #adopt-text > p {
        font-size: 100%;
    }

    #coffee-header {
        font-size: 130%;
    }

    #tailored-text {
        width: 90%;
    }

    #tailored-header {
        font-size: 130%;
        padding-bottom: 0.5rem;
    }

    #tailored-text > p {
        font-size: 100%;
    }

}

/* for small screen sizes from 800px wide and down */

@media screen and (max-width: 800px) {

    #hero-outer {
        height: 450px;
    }
    
    #hero-image {
        height: 450px;
        background: url('../images/walkies-landing.jpg') no-repeat 30% 0% / cover;
    }

    #cover-text {
        width: 200px;
        font-size: 90%;
        height: auto;
        padding: 1rem;
    }

    #about-us {
        margin: 0 auto;
    }   

    #video iframe {
        width: fit-content;
        height: auto;
    }

    #donate-photo, #volunteer-photo, #adopt-photo {
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
    }

    #donate-photo img, #volunteer-photo img, #adopt-photo img {
        width: 80%;
    }
    #donate-content, #volunteer-content, #adopt-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #donate-text, #volunteer-text, #adopt-text {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        margin-left: 0;
        padding-left: 0;
    }

    #tailored-photo {
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
    }

    #tailored-content {
        width: 100%;
    }

    #tailored-photo img {
        width: 80%;
    }

    #tailored-text {
        text-align: center;
        margin-bottom: 2.8rem;
        width: 100%;
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {

    #hero-outer {
        height: 300px;
    }
    #hero-image {
        height: 300px;
        background: url('../images/walkies-landing.jpg') no-repeat 30% 0% / cover;
    }
    
    #cover-text {
        font-size: 70%;
        width: 95%;
        height: auto;
        padding: 1rem;
        letter-spacing: 0.1rem;
    }

    #logo {
        float: left;
        font-size: 130%;
        margin-left: 0.6rem;
    }
    
    #menu {
        font-size: 100%;
        letter-spacing: normal;
    }

    #about-us {
        margin: 0 auto;
    }

    #about-header, #benefits-header {
        font-size: 130%;
    }

    #left-about ul {
        margin-bottom: 1rem;
    }

    #benefits ul li {
        font-size: 100%;
    }

    #area-text > p {
        font-size: 100%;
    }
    
    #area-header {
        font-size: 130%;
    }

    #services-header {
        font-size: 130%;
    }

    #tailored-header {
        font-size: 110%;
    }

    #tailored-photo img {
        width: 100%;
    }

    #donate-photo img, #volunteer-photo img, #adopt-photo img {
        width: 100%;
    }

    #donate-header, #volunteer-header, #adopt-header {
        font-size: 110%;
    }

    #coffee-header {
        font-size: 110%;
    }

    
}